:root {
    --font-mono: 'IBM Plex Mono';
    --orange: #F18805;
    --orange-dark: #AA6003;
    --nav-hover: #FFAE49;
    --white: #DDE3E0;
    --white-dark: #DADCDB;
}

html {
    font-family: var(--font-mono), monospace;
    background: #2F2F3A;
    background: radial-gradient(circle,rgba(47, 47, 58, 1) 0%, rgba(37, 38, 50, 1) 100%);
    color: #ffffff;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--orange);
}