---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
---

<Layout title="My Projects | Harry Skerritt">

    <section class="hero">
        <h1>Projects</h1>
    </section>

</Layout>